* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import "./utilities/variables";
@import "./base/reset";
@import "./base/typo";
@import "./utilities/mixins";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/main-index";
@import "./layout/main-contacto";
@import "./layout/main-noticias";
@import "./layout/main-ranking";
@import "./layout/main-programacion";
@import "./layout/mediaqueris";