
.conteiner-home {

  background-image: url(/assets/img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.form-title{
  color: white;
  text-align: center;
  padding-top: 40px;
}
.formulario{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}